/* styles.css */
body {
}

fieldset {
}

.input-group-parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.input-group {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.button-div {
  display: flex;
  justify-content: center;
}
